doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Weapons
        if weapons && weapons.length
                .cards 
                each weapon in weapons
                    .card 
                        h2.card__name #{weapon.properties.name}  [ #{weapon.properties.price} $ ]
                        p.card__email #{weapon.properties.use_description}
        else
            p No weapons found. Waiting for weapons you can use our new one. The "daisy", to use it, give it to your opponent, it may stun him so you can make your declaration. Good luck. If you already used it on someone, you can still use it again, it will up its affection bar (except if he's allergic to flowers...).
